body{
  margin: 0px;
  background-color: #ebe9ea;
max-width: 1920px;
background-image: url(../images/background1.jpg);
background-repeat: no-repeat;
background-position:bottom;
background-size: contain;
}
.title{
  font-size:30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.container1{
width:auto;;
height:200px;
background-color:#ebe9ea;
display:flex;
flex-direction: column;
justify-content: space-around;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.heading{
  width:auto;
  height:80px;
  align-items: center;
  font-size: 70px;
  text-decoration: underline;
  font-family:garamond.serif;
  text-align: center;
  align-items: center;
  max-height: 100px;
  color:#1B1A17;
  background-color: black;
}
.headingbuttons{
  display:flex;
  flex-direction: row;
  margin-top: 40px;
  height:100px;
  width:auto;
  background-color
}
.projects{
  margin-left: 30px;
  column-gap:100px;
  color:black;
  width:152px;
  height: 50px;
  font-size: 32px;
  font-family:cambria,serif;
  text-align: center;
  transition: ease-out 800m;
  position:relative;
  z-index: 1;
 }
 .projects:hover{
   font-size: 35px;
   cursor:pointer;
   text-decoration: underline;
 }

.body{
  height:800px;
  display: flex;
  flex-direction: row;
  width: auto;

}
.bodyleft{

  margin-top: 100px;
  width:706px;;
  justify-content: space-evenly;
  min-height:10px;
  display: flex;
  flex:wrap;
  flex-direction: column;

}
.bodyright{
  font-family:
  font-size: 20px;
  text-align: center;
  margin-top: 100px;
  margin-left: auto;
  background-color:#ebe9ea;
  overflow:visible;
  width:800px;
}
.bodyrightframe{
  color:black;
  font-family:Apple Chancery,cursive;
  font-style: italic;
  padding-top: 110px;
  width: 500px;
  height: 340px;
  border-radius: 20%;
  background-color:##ebe9ea;
  margin-top: 100px;
  margin-left: 40px;
}


.imageframe2{
  overflow: hidden;
  background-color:red;
  margin-left:-864px;;
  clip-path: circle(50% at 0 50%);
  width:500px;
  height:500px;
  max-width: 1000px
  max-height: 500px;
transition:margin 2s;
}
.imageframe2 img{
  transition: margin 2s;
  margin-top: 8px;
  margin-left:-300px;
  width:110%;
  height:100%;
}
.imageframe2:hover{
  margin-left:-350px;
  overflow: hidden;
  background-color: white;
}
.imageframe{
  background-color:#F9F3F3;
  clip-path: circle(50% at 100% 50%);
  margin-left:390px;
  overflow: hidden;
  background-color:black;
  width:500px;
  height:500px;
  max-width: 1000px
  max-height: 500px;
 transition:margin 2s;
}
.imageframe img{
  transition: margin 2s;
  margin-top: 8px;
  margin-left:205px;
  width:110%;
  height:100%;
}
.imageframe:hover
{
  overflow: hidden;
  margin-left:300px;
}
.myinfo{
  font-family:cursive;
  text-align: center;
  font-size: 150px;
  color:white;
}
.info{
 font-size: 30px;
 margin-left: 10px;
 transition: margin 2s;
 border-spacing: 300px;
 font-style: italic;
 text-align: center;
 font-family: lucida,cursive;
 color:black;
 display: flex;
 flex-direction: column;
}
.info img{
  clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
  border:#F9F3F3;
  margin-left: 50px;
  margin-right: 200px;
 height:450px;
 width:400x;
 border-radius: 10%;
 transition-duration:800ms;
}
.info img:hover{
  background-color: black;
}
.container2{
  background-color:none;
  margin-top: 5px;
  display:flex;
  flex-direction: row;
  height: 500px;
  width:auto;
}
.bottom{
  font-size: 22px;
  height:200px;
  width:auto;
  display: flex;
  flex-direction: row;
}
.fa {
  margin-left:1110px;
  margin-top:80px;
  padding: 20px;
  font-size: 50px
  width:30px;
  text-align: center;
  text-decoration: none;
  transition: width 1s;
}
.fa-twitter{

  height: 25px;
  width:25px;
  border:solid;
  border-radius: 50%;
}
.fa-facebook{
  margin-left: 15px;
  height: 25px;
  width:25px;
  border:solid;
  border-radius: 50%;
}
.fa-instagram{
  margin-left: 15px;
  height: 25px;
  width:25px;
  border:solid;
  border-radius: 50%;
}
.fa:hover{
font-size: 25px;
  background-color:#ebe9ea;
}
a{
  color:#4a0e5c;
}
