body{
  background-color:#ecf0f1;
  background-image: linear-gradient(#ecf0f1,white);
  margin-left: 0px;

  margin-top:auto;
}
div{
  font-size: 60px;
  background-color: #94B49F;

}
.midcontainer{
  width: 200px;
  height: 200px;
  background-color: blue;
}
.bottomcontainer{
  width:200px;
  height: 200px;
  background-color: red;
}
