body{
  background-image:url(../css/images/background-1.jpg);
  background-repeat: no-repeat;
  background-size: 1540px 785px;
}
#title{
color:white;
}
.container-fluid{
  padding: 2% 20%;
}
.navbar-brand{
  color:white;
  font-size: 2rem;
  margin-left: -10rem;
  font-family: Rubik Dirt,sans-serif;
}
.navbar-brand:hover{
  color:white;
}
.nav-link{
  color:white;
}
.nav-link:hover{
  color:white;
}
.navbar-nav{
  margin:2% 90%;
  margin-left:40rem;
  font-size:1rem;
}
.container-fluid{
  padding:2% 20%
}
h1{
  color:white;
  font-size: 60px;
  line-height: 1.5;
  font-weight: 900;
}
h4{
  margin-left: 20px;
  text-align: center;
  color:yellow;
}
/*################# projects section##############*/
#projects{
  text-align: left;
  font-family:Montserrat-bold,sans-serif;
  height:auto;
  color:white;
}
#projects img{
  margin-left: 50px;
  margin-bottom: 5px;
  height:280px;
  width:290px;
  border-radius: 50%;
  border:15px solid white;
  transition: height 1s;
}
